name: CI
on:
  - push

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm ci
      - run: npm run all
      - name: Ensure the expected and actual dist/ directories are the same
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after `npm run all`.  See status below:"
            git diff
            exit 1
          fi
      - name: Upload artifacts to captain production
        uses: ./
        with:
          artifacts: |
            [
              {
                "name": "Jest JUnit",
                "path": "./junit.xml",
                "kind": "test_results",
                "parser": "junit_xml"
              }
            ]
          job-matrix: '${{ toJSON(matrix) }}'
          captain-token: '${{ secrets.VANGUARD_PRODUCTION_RWX_TOKEN }}'
      - name: Upload artifacts to captain staging
        uses: ./
        with:
          artifacts: |
            [
              {
                "name": "Jest JUnit",
                "path": "./junit.xml",
                "kind": "test_results",
                "parser": "junit_xml"
              }
            ]
          job-matrix: '${{ toJSON(matrix) }}'
          captain-token: '${{ secrets.VANGUARD_STAGING_RWX_TOKEN }}'
          captain-base-url: '${{ secrets.VANGUARD_STAGING_BASE_URL }}'
  nix_fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: nix fmt
      - run: |
          git_leftovers=$(git status --porcelain)
          if [ -z $git_leftovers ]
          then
            echo "✅ nix fmt didn't change anything"
          else
            echo "❌ unformatted changes left behind"
            git diff
            git status --porcelain
            exit 1
          fi
